.contain{
    width: 98%;
    margin: 0 auto;
}

.video{
    height: 300px;
    width: 100%;
    overflow-x: hidden;
    background-color: #cccccc;
    position: relative;
}

.input{
    margin-top: 20px;
}

.input input{
    line-height: 42px;
    width: 70%
}

.input button{
    height: 50px;
    border-radius: 8px;
    width: 20%;
    float: right;
}

.comment-contain{
    position: absolute;
    width: inherit;
    height: inherit;
    overflow: hidden;
}

.comment{
    font-size: 28px;
    line-height: 30px;
    max-height: 30px;
    overflow-y: hidden;
}

.comment.red{
    color: red;
}

.comment.green{
    color: green;
}

.comment.black{
    color: black;
    font-weight: bold;
}

.comment.blue{
    color: #2f73cd;
}

.comment.yellow{
    color: #cdad2d;
}
